<form action="/lead" method="POST">
<input type="text" name="email" placeholder="email">
<input type="text" name="phone" placeholder="telefone">
<button type="submit">ENVIAR</button>
</form>

<h1>{{message}}</h1>